/* main style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }


  .header{
    width: 100%;
    background-color: #333;
    color : white;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  
  header nav {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color:white;
    background-color: #333;
  }
  

  header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  

  .blog-homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }


  .blog-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
  }
  

  .blog-card h2 {
    font-size: 14px;
    color: #007bff;
    text-transform: uppercase;
  }
  

  .blog-card h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  

 .footer {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    color: white;
    background-color: #333;
}
  

  h1, h2, h3 {
    font-family: Georgia, serif;
  }
  

  p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  

  a {
    color: #007bff;
    text-decoration: none;
  }
  

  a:hover {
    text-decoration: underline;
  }
  